<app-encabezado></app-encabezado>
<div class="container">
<br><br>
    <div class="row">
        <div class="col">
            <img src="../../../assets/imagenes/1576.jpg" class ="imagen-biblioteca"alt="">            
        </div>
        <div class="col">
            <h1 class="h1-principal">Administrar los contactos de tu celular</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, accusantium! Repellendus architecto officiis rem omnis quam recusandae vero! Quod ipsam accusamus praesentium aliquam optio dolores voluptatibus recusandae culpa? Itaque iure, blanditiis saepe, rem harum voluptate corrupti quod delectus dolore debitis cumque similique repellat ratione quasi non perspiciatis nesciunt sit vitae quisquam, nisi animi! Veritatis quod rerum dolorem. Vel tempore voluptatibus corporis rem! Obcaecati labore.</p>  
            <div class="boton">
                <button type="button" class="btn btn-dark" routerLink="/contactenos">¡Empezar ahora!</button>  
            </div>      
                       
        </div>
 
    </div>    
</div>


